{{ range .Audios }}
<div class="media-item">
    <audio controls>
        <source src="/static/{{ .FilePath }}" type="audio/{{ .Format }}">
    </audio>
    <p>{{ .Title }}</p>

    <!-- Form for liking or disliking -->
    <form action="/togglefavourite" method="POST">
        <div class="heart-checkbox">
            <!-- Checkbox toggles between liked and unliked -->
            <input type="checkbox" id="heart-{{ .ID }}" name="favourite" value="true" {{ if .IsFavourite }}checked{{ end
                }} onchange="this.form.submit()" />
            <label for="heart-{{ .ID }}">
                <img src="/static/{{ if .IsFavourite }}heart-full.svg{{ else }}heart-empty.svg{{ end }}" class="heart"
                    alt="Favourite" />
            </label>
            <input type="hidden" name="mediaID" value="{{ .ID }}">
        </div>
    </form>
</div>
{{ end }}