/* Ensure both images and videos have the same height */
.media-item img,
.media-item video {
    width: 100%;
    height: 400px;
    /* Consistent height for both images and videos */
    object-fit: cover;
    /* Make sure content covers the container */
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

/* Fullscreen mode styling */
.media-item video:fullscreen {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Make sure the video fits without cutting */
    border-radius: 0;
    /* Remove border-radius for fullscreen */
}


/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

/* Header Bar */
.header-bar {
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-button {
    background-color: #3a3a3a;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.header-button:hover {
    background-color: #575757;
}

.search-box {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* Content */
.content {
    padding: 20px;
    text-align: center;
    margin-bottom: 160px;
}

.media {
    width: 100%;
    max-width: 1200px;
    min-height: 300px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 20px auto;
    background-color: #2a2a2a;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.media-item {
    background-color: #3a3a3a;
    color: #e0e0e0;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
}

/* Ensures the <p> tag appears below the media */
.media-item p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #e0e0e0;
    flex-shrink: 0;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);

}

.footer-button {
    background-color: #3a3a3a;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.footer-button:hover {
    background-color: #575757;
}